.sidebar{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.iconsColumn {
    display: flex;
    flex-direction: column;
    align-items: center; /* ממרכז את האייקונים בצורה אנכית */
    gap: 20px; /* מרווח בין האייקונים */
    color: grey; /* צבע אפור לאייקונים */
  }
  
  .icon {
    cursor: pointer; /* הופך את הסמן לסמן כאשר מעבירים מעל האייקון */
  }
  
  .icon:hover {
    color: darkgrey; /* צבע כהה יותר ב-hover */
  }
  


  .sidebar .image img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}